language: ruby

rvm:
  - 1.9.3

env:
  - PUPPET_VERSION=2.7.20
  - PUPPET_VERSION=3.0.1

matrix:
  include:
    - rvm: 1.8.7
      env: PUPPET_VERSION=2.6.3

script:
  - "rake lint"
  - "rake spec"

gemfile: .gemfile
