language: ruby

rvm:
  - 1.8.7
  - 1.9.3

env:
  - PUPPET_VERSION="~> 2.7.20"
  - PUPPET_VERSION="~> 3.1.0"
  - PUPPET_VERSION="~> 3.2.0"
  - PUPPET_VERSION="~> 3.4.0"
  - PUPPET_VERSION="~> 3.6.0"

matrix:
    allow_failures:
        - rvm: 1.8.7

before_install:
  - gem update bundler
  - bundle --version
  - gem update --system 2.1.11
  - gem --version

script: "rake test"

gemfile: .gemfile
